@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Quicksand:wght@500;600&display=swap");

/* base styles */

* {
  margin: 0;
  font-family: "Itim";
  color: #e50914;
  background-color: black;
}

.App {
  max-width: 300px;
  margin: auto;
}

/* header */

.header {
  margin: 12px auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 2px 1px 1px white;
}

.header h1 {
  padding-bottom: 4px;
}

/* list preview */

.list-preview {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
