@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Quicksand:wght@500;600&display=swap");

/* base styles */

* {
  margin: 0;
  font-family: "Pacifico";
  color: green;
  background-color: rgb(8, 8, 8);
}

.App {
  max-width: 300px;
  margin: auto;
}

/* header */

.header {
  margin: 12px auto;
  text-align: center;
  border-radius: 4px;
  border: 1px solid blue;
  padding: 8px;
  box-shadow: 2px 4px blue;
}

.header h1 {
  padding-bottom: 4px;
}

/* list preview */

.list-preview {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.list-preview h3 {
  margin-top: 12px;
}

.list-preview button {
  color: green;
  margin-left: 12px;
  border-radius: 4px;
  font-size: 50%;
  border: 1px solid blue;
  box-shadow: 2px 4px blue;
}

.list-preview button:hover {
  color: yellow;
  cursor: pointer;
}

/* form */

.form button {
  color: green;
  margin: 0 auto;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid blue;
  box-shadow: 2px 4px blue;
  display: flex;
  justify-content: center;
}

.form button:hover {
  color: yellow;
  cursor: pointer;
}

.form {
  margin-top: 8px;
}

.form input {
  border-radius: 4px;
  border: 1px solid blue;
  box-shadow: 2px 4px blue;
  margin: 12px auto;
  display: flex;
  justify-content: center;
}

.form input:focus {
  outline: none;
}
